body {
	-webkit-font-smoothing: antialiased;
	color: #2A1F55;
	padding-top: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: 1.5;
	font-weight: normal;
	font-variant: normal;
}

#banner{
margin:auto;
width:100%;
background-color:#000;
border-bottom:1px solid #333;
overflow:hidden;
}

.container {
width: 100%;
margin: 0 auto;
background-color:#000;
padding-bottom:5px;
}

#slides {
display: none
}

#slides .slidesjs-navigation {
margin-top:5px;
position:inherit;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
background-image: url(../images/banner/btns-next-prev.png);
background-repeat: no-repeat;
display:block;
width:12px;
height:18px;
overflow: hidden;
text-indent: -9999px;
float: left;
margin-right:5px;
}

a.slidesjs-next {
margin-right:10px;
background-position: -12px 0;
}

a:hover.slidesjs-next {
background-position: -12px -18px;
}

a.slidesjs-previous {
background-position: 0 0;
}

a:hover.slidesjs-previous {
background-position: 0 -18px;
}

a.slidesjs-play {
width:15px;
background-position: -25px 0;
}

a:hover.slidesjs-play {
background-position: -25px -18px;
}

a.slidesjs-stop {
width:18px;
background-position: -41px 0;
}

a:hover.slidesjs-stop {
background-position: -41px -18px;
}

.slidesjs-pagination {
margin: 7px 0 0;
float: right;
list-style: none;
}

.slidesjs-pagination li {
float: left;
margin: 0 1px;
}

.slidesjs-pagination li a {
display: block;
width: 13px;
height: 0;
padding-top: 13px;
background-image: url(../images/banner/pagination.png);
background-position: 0 0;
float: left;
overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
color: #333
}

#slides a:hover,
#slides a:active {
color: #9e2020
}

.navbar {
overflow: hidden
}

 End SlidesJS Optional

 SlidesJS Required: These styles are required if you'd like a responsive slideshow 

#slides {
display: none
}

#slides .txt{}
#slides .txt1{position:absolute; float:right; font-family:candara; font-size:36px; right:5%; top:100px; text-transform:uppercase; background-color:#360f4e; padding-left:20px; padding-right:20px; height:55px; color:#fff;border:0px solid #fff; opacity:0.8;}
#slides .txt2{position:absolute; font-family:ptsans; font-size:22px; height:30px; top:155px; right:5%; background-color:#fff; padding-left:20px; padding-right:20px; text-transform:uppercase; opacity:0.8;}
#slides .white{color:#000; }
#slides .black{color:#000; }

#slides .book{position:absolute; background-color:#649D0D; padding:5px 15px; font-family:opensans; font-size:16px; top:185px; right:5%; color:#fff; transition:background 0.3s; text-transform:uppercase; border:0px solid #fff;border-bottom:0px solid #fff; opacity:0.8;}
#slides .book:hover{background:#FF9900; }
/* For tablets & smart phones */
@media (max-width: 767px) {
.container {width: 100%;}

#slides .txt1{position:absolute; text-align:center;  font-size:16px; top:10px; right:0px; height:auto; border:0; padding-left:10px; padding-right:10px;}
#slides .txt2{position:absolute; text-align:center;  font-size:12px; top:30px; right:0px; height:auto;padding-left:10px; padding-right:10px;}
#slides .book{position:absolute; background-color:#649D0D; padding:0; height:auto; font-family:opensans; font-size:12px; top:48px; right:0%; border:0px; padding-left:10px; padding-right:10px;}
}

/* For smartphones */
@media (max-width: 480px) {
.container {width: 100%;}

#slides .txt1{position:absolute; text-align:center;  font-size:16px; top:10px; right:0px; height:auto; border:0; padding-left:10px; padding-right:10px;}
#slides .txt2{position:absolute; text-align:center;  font-size:12px; top:30px; right:0px; height:auto;padding-left:10px; padding-right:10px;}
#slides .book{position:absolute; background-color:#649D0D; padding:0; height:auto; font-family:opensans; font-size:12px; top:48px; right:0%; border:0px; padding-left:10px; padding-right:10px;}
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
.container {
width: 100%;
}
}

/* For larger displays */
@media (min-width: 1200px) {
.container {
width: 100%;
}
}

 SlidesJS Required: 
